.select-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  :global(.MuiAutocomplete-root) {
    :global(.MuiInputBase-root) {
      padding: 7px 65px 7px 15px !important;
      font-size: var(--general-font-size);
      gap: 4px;
      flex-wrap: nowrap;
      .tag-value {
        background-color: var(--input-border-primary);
        width: fit-content;
        padding: 0 4px;
        border-radius: 4px;
        height: 22px;
        flex-shrink: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: var(--font-montserrat);
        font-size: 14px;
        &.tag-value-error {
          background-color: var(--color-error);
          color: var(--absolute-white);
        }
      }
      .shortcut-tag {
        margin: 0 !important;
        .tag-text {
          display: inline-flex;
          border: 1px solid var(--input-border-primary);
          border-radius: 4px;
          height: 22px;
          padding: 0 4px;
          font-family: var(--font-montserrat);
          font-size: 14px;
        }
        &.shortcut-tag-error {
          .tag-text {
            border: 1px solid var(--color-error);
            color: var(--color-error);
          }
        }
      }
      .input-search {
        padding: 3px 0 !important;
        height: 16px;
      }
      .end-adornment button {
        transition: transform 0.3s ease;
        .caret-icon {
          width: 20px;
          height: 20px;
        }
      }
      fieldset {
        border: 1px solid var(--input-border-primary);
      }
      &:hover fieldset {
        border: 1px solid var(--input-border-hover);
      }
      &:global(.Mui-focused .MuiOutlinedInput-notchedOutline) {
        border: 1px solid var(--input-border-focus);
      }
      &:global(.Mui-disabled) fieldset {
        border: 1px solid var(--input-border-disabled);
      }
      &:global(.Mui-error) {
        input:not(:placeholder-shown) {
          color: var(--error-primary);
        }
        &:global(.Mui-focused .MuiOutlinedInput-notchedOutline) {
          border: 1px solid var(--error-primary);
        }
        fieldset {
          border: 1px solid var(--error-primary);
        }
      }
    }
    &:global(.Mui-focused) {
      :global(.MuiInputBase-root) {
        flex-wrap: wrap;
      }
    }
  }
}
