@theme {
  /** Colors */
  --color-light: var(--color-light);
  --color-dark: var(--color-dark);
  --color-primary: #0d4949;
  --color-error: #e05454;
  /** Input */
  --color-input-border: #0000003b;
  --color-input-border-hover: #00000057;
  --color-input-border-focus: #00000093;
  --color-input-background: #ffffff;
}
