@theme {
  /** Colors */
  --color-light: var(--color-light);
  --color-dark: var(--color-dark);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-success: var(--color-success);
  --color-info: var(--color-info);
  --color-warn: var(--color-warn);
  --color-error: var(--color-error);
  /** Collapse */
  --color-collapse-header-border: var(--color-collapse-header-border);
  --color-collapse-separator-border: var(--color-collapse-separator-border);
  /** Input */
  --color-input-border: var(--color-input-border);
  --color-input-border-hover: var(--color-input-border-hover);
  --color-input-border-focus: var(--color-input-border-focus);
  --color-input-border-error: var(--color-input-border-error);
  --color-input-background: var(--color-input-background);
}
