.date-picker-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  .date-picker-label {
    margin-bottom: 4px;
  }
  :global(.react-datepicker-wrapper) {
    width: 100%;
  }
  :global(.react-datepicker__input-container) {
    input {
      width: 100%;
      padding: 10px 15px;
      font-size: var(--general-font-size);
      border-radius: 4px;
      outline: 1px solid var(--input-border-primary);
      transition: all 0.2s ease-in-out;
      background: var(--background);
      color: var(--foreground);
      line-height: 16px;
      &::placeholder {
        color: var(--input-placeholder);
      }
      &:hover {
        outline-color: var(--input-border-hover);
      }
      &:focus {
        outline-color: var(--input-border-focus);
      }
      &:disabled {
        outline-color: var(--input-border-disabled);
        background-color: var(--input-background-disabled);
        cursor: not-allowed;
      }
      &.error {
        outline-color: var(--error-primary);
      }
    }
  }
  :global(.react-datepicker) {
    font-family: inherit;
    border: 1px solid var(--input-border-primary);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: var(--background);
  }
  :global(.react-datepicker__header) {
    background-color: var(--background);
    border-bottom: 1px solid var(--input-border-primary);
    padding-top: 12px;
    .header-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 12px;
      .chevron-icon {
        display: flex;
        cursor: pointer;
        svg {
          width: 18px;
          height: 18px;
          transition: color 0.3s ease;
          &:hover {
            color: var(--color-secondary);
          }
        }
      }
      .header-date-value {
        font-size: 14px;
        font-weight: 500;
        color: var(--color-dark);
      }
    }
  }
  :global(.react-datepicker__current-month) {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-dark);
    margin-bottom: 8px;
  }
  :global(.react-datepicker__navigation) {
    top: 12px;
  }
  :global(.react-datepicker__navigation-icon::before) {
    border-color: var(--color-dark);
  }
  :global(.react-datepicker__day-names) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4px;
  }
  :global(.react-datepicker__day-name) {
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0;
    color: var(--color-dark);
    font-size: 13px;
    font-weight: 500;
  }
  :global(.react-datepicker__month) {
    margin: 8px;
  }
  :global(.react-datepicker__week) {
    display: flex;
    justify-content: space-around;
  }
  :global(.react-datepicker__day) {
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0;
    border-radius: 4px;
    color: var(--color-dark);
    font-size: 13px;
    &:hover {
      background-color: var(--color-primary-50);
      border-radius: 4px;
      color: var(--color-light);
    }
  }
  :global(.react-datepicker__day--selected) {
    background-color: var(--radio-checkpoint);
    color: var(--color-light);
    font-weight: 500;
    &:hover {
      background-color: var(--radio-checkpoint);
    }
  }
  :global(.react-datepicker__day--keyboard-selected) {
    background-color: transparent;
    &:hover {
      background-color: var(--input-border-primary);
    }
  }
  :global(.react-datepicker__day--today) {
    font-weight: 600;
  }
  :global(.react-datepicker__day--outside-month) {
    color: var(--input-border-disabled);
  }
  :global(.react-datepicker__day--disabled) {
    color: var(--input-border-disabled);
    cursor: default;
    &:hover {
      background-color: transparent;
    }
  }
}
